.wrapper {
  padding: 2.4rem;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 0.1rem solid #ccc;
  font-size: 1.3rem;

  th,
  td {
    border: 0.1rem solid #ddd;
    padding: 0.8rem;
    text-align: left;

    &.center {
      text-align: center;
    }
  }

  thead {
    background-color: #f9f9f9;
    th {
      font-weight: 700;
      color: #333;
      text-align: center;
    }
  }

  tbody tr:hover {
    background-color: #f6f6f6;
  }

  a.link {
    font-weight: 500;
  }
}

.status {
  display: inline-block;
  padding: 0.2rem 0.8rem;
  border-radius: 1.2rem;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
}

.status_progress {
  background-color: #e0f3ff;
  color: #0077cc;
}

.status_waiting {
  background-color: #f0f0f0;
  color: #999;
}

.status_done {
  background-color: #e1f7e7;
  color: #219653;
}

tr.end {
  background-color: #eef3ff;
}
